<ion-content class="ion-padding ion-page" [scrollY]="false"  [fullscreen]="true">
  <ion-list-header #header>
    <ion-label class="font-bold text-white">Players</ion-label>
    <ion-button (click)="onAddNewPlayerClick()" color="success" fill="outline">New Player</ion-button>
  </ion-list-header>
  <ion-list>
    @for (player of leaguePlayers; track player.id){
      <app-player-checkbox  [checked]="isPlayerSelected(player.id)" (click)="onPlayerClick(player.id)"  [playerId]="player.id"/>
    }
    <ng-container #newPlayerContainer></ng-container>
  </ion-list>


<ion-button class="mt-3" (click)="onCancelClick()" expand="block" color="secondary">Done</ion-button>

</ion-content>
