ion-item {
  --background: var(--ion-color-primary-shade);
}

ion-item ion-label{
  white-space: nowrap;
}


ion-datetime-button::part(native) {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  border-radius: 8px; /* Customize border radius, if needed */
}

ion-datetime::part(wheel-item) {
  color: var(--ion-color-dark);
  border-radius: 8px; /* Customize border radius, if needed */
}



