<form [formGroup]="FormGroup">
  <ion-list lines="inset">
    <ion-label class="p-2 font-bold">Game info</ion-label>
    <ion-item  id="openModal" detail="true">
      <ion-label >Blinds</ion-label>
      <ion-label class="font-bold" slot="end">
        {{ blinds  | blinds : ' / '}}
      </ion-label>
    </ion-item>
    <ion-item (click)="onDefaultBuyInClick()" class="default-buy-in">
      <ion-label>Default Buy In</ion-label>
      <app-value-chip  [value]="defaultBuyIn" formControlName="defaultBuyIn"/>
    </ion-item>
    <ion-item (click)="onSessionCompleteClick()">
      <ion-label >Session Completed</ion-label>
      <ion-toggle color="secondary" (click)="onSessionCompleteClick()"  slot="end" formControlName="sessionComplete" ></ion-toggle>
    </ion-item>

@if(FormGroup.get('sessionComplete')?.value){
  <ion-item (click)="onDateItemClick('startDateTime')">
    <ion-label>Start Date</ion-label>
    <ion-datetime-button  color="secondary"  slot="end" datetime="startDateTime"  ></ion-datetime-button>
  </ion-item>
  <ion-item (click)="onDateItemClick('endDateTime')">
    <ion-label>End Date</ion-label>
    <ion-datetime-button color="secondary"  slot="end" datetime="endDateTime"  ></ion-datetime-button>
  </ion-item>
}
  </ion-list>

</form>

<ion-modal #startDateModal class="date-picker" [initialBreakpoint]="1" [breakpoints]="[0,1]"  [keepContentsMounted]="true" >
  <ng-template>
    <ion-datetime [value]="startDateTime" (ionChange)="onDateChange($event, 'startDateTime')" [max]="maxDate"  [preferWheel]="true" id="startDateTime" ></ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal #endDateModal class="date-picker"   [initialBreakpoint]="1" [breakpoints]="[0,1]"  [keepContentsMounted]="true" >
  <ng-template>
    <ion-datetime [min]="startDateTime" (ionChange)="onDateChange($event, 'endDateTime')"  [max]="maxDate" [preferWheel]="true"  id="endDateTime" ></ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal #modal [presentingElement]="presentingElement" [backdropDismiss]="true"  trigger="openModal">
  <ng-template>
    <app-blinds-modal [blinds]="leagueBlinds" (blindsSelected)="onBlindsSelected($event)" (oncancel)="closeModal()"/>
  </ng-template>
</ion-modal>

